$font: 'Quicksand', sans-serif;

$color-blue: #0091a1;
$color-brown: #bf9b77;
$color-dark-brown: #532e1c;
$color-red: #e34724;
$color-white: #ffffff;

.cardContainer {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .card {
        border: none;
    }
    .cardItemDetail {
        color: $color-dark-brown;
        img {
            width: 100%;
            height: 100%;
        }
        .card-body{
            display: grid;
            align-items: center;
            font-family: $font;
            text-align: left;
            padding: 0px;
            h5 {
                text-transform: uppercase;
                font-weight: bold;
            }
            p {
                font-size: 1rem;
            }
            .itemPrice {
                font-weight: bold;
            }
        }
        a {
            display: flex;
            justify-content: center;
            text-decoration: none;
            .goToCart {
                background-color: $color-brown;
                color: $color-white;
                text-transform: uppercase;
                font-weight: bold;
                text-decoration: none;
                border: 1px solid $color-brown;
                border-radius: 0.3rem;
                width: 8.5rem;
                margin: 0px;
                transition: 0.15s;
            }
            .goToCart:hover {
                background-color: $color-red;
                color: $color-white;
                border-color: $color-red;
            }
        }
}
}