$font: 'Quicksand', sans-serif;

$color-blue: #0091a1;
$color-brown: #bf9b77;
$color-dark-brown: #532e1c;
$color-red: #e34724;
$color-white: #ffffff;

a{
    text-decoration: none;
    .cardItem {
        color: $color-dark-brown;
        font-family: $font;
        text-align: center;
        text-decoration: none;
        padding-bottom: 0px;
        transition: 0.15s;
        h5 {
            font-weight: bold;
            text-transform: uppercase;
        }
        p {
            font-size: 1.2rem;
        }
        .seeDetail {
            background-color: $color-brown;
            color: $color-white;
            text-transform: uppercase;
            font-weight: bold;
            text-decoration: none;
            border: 1px solid $color-brown;
            border-radius: 0.3rem;
            width: 10rem;
            transition: 0.15s;
        }
        .seeDetail:hover {
            background-color: $color-red;
            color: $color-white;
            border-color: $color-red;
        }
    }

    .cardItem:hover {
        transform: scale(1.03);
    }
}

a:hover {
    text-decoration: none;
}

//Media queries

//Large
@media screen and (min-width: 992px) and (max-width: 1199px) {
    a {
        .cardItem {
            h5 {
                font-size: 1.15rem;
            }
        }
    }
};