$font: 'Quicksand', sans-serif;

$color-blue: #0091a1;
$color-brown: #bf9b77;
$color-dark-brown: #532e1c;
$color-red: #e34724;
$color-white: #ffffff;

.checkoutFormContainer {
    min-height: 100vh;
    color: $color-dark-brown;
    font-family: $font;
    h5 {
        font-weight: bold;
        text-transform: uppercase;
    }
    .checkoutButtonContainer {
        display: flex;
        justify-content: flex-end;
        .backButton {
            color: $color-dark-brown;
            text-transform: uppercase;
            font-weight: bold;
            text-decoration: none;
            border: 1px solid $color-dark-brown;
            border-radius: 0.3rem;
            width: 10rem;
            transition: 0.15s;
        }
        .backButton:hover {
            background-color: $color-dark-brown;
            color: $color-white;
        }
        .continueButton{
            background-color: $color-brown;
            color: $color-white;
            text-transform: uppercase;
            font-weight: bold;
            text-decoration: none;
            border: 1px solid $color-brown;
            border-radius: 0.3rem;
            width: 10rem;
            transition: 0.15s;
        }
        .continueButton:hover {
            background-color: $color-red;
            color: $color-white;
            border-color: $color-red;
        }
    }
}

.checkoutCongratsContainer {
    color: $color-dark-brown;
    font-family: $font;
    text-align: center;
    line-height: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    h5 {
        font-weight: bold;
        text-transform: uppercase;
    }
    #order {
        font-weight: bold;
    }
    #email {
        color: $color-blue;
        text-decoration: underline;
    }
    #email:hover {
        color: $color-red;
    }
    .goToProducts {
        color: $color-red;
        text-transform: uppercase;
        font-weight: bold;
        justify-content: center;
        align-items: center;
        transition: 0.15s;
    }
    .goToProducts:hover {
        color: $color-blue;
        letter-spacing: 0.03rem;
    }
}