$font: 'Quicksand', sans-serif;

$color-blue: #0091a1;
$color-brown: #bf9b77;
$color-dark-brown: #532e1c;
$color-red: #e34724;
$color-white: #ffffff;

b {
    color: $color-dark-brown;
    font-family: $font;
}

.quantityBtn {
    color: $color-red;
    font-family: $font;
    font-weight: bold;
}
.quantityBtn:hover {
    color: $color-red;
}

.card-footer {
    border: none;
}

.cardFooterItemCount {
    background-color: $color-white;
    font-family: $font;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: baseline;
    .addToCart {
        background-color: $color-brown;
        color: $color-white;
        text-transform: uppercase;
        font-weight: bold;
        text-decoration: none;
        border: 1px solid $color-brown;
        border-radius: 0.3rem;
        width: 8rem;
        margin: 0px;
        transition: 0.15s;
    }
    .addToCart:hover {
        background-color: $color-red;
        color: $color-white;
        border-color: $color-red;
    }
}